
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/viewFunction.js"></script>
  <link href="../css/style.css" type="text/css" rel="stylesheet" />
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>

  <meta charset="UTF-8">
  <title>OTA Server</title>
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-Q8ekV4lL6HuYMxrTcn3lOtbufAXoSmw&sensor=false&libraries=places"></script>-->

  <!--<script src="js/jquery-3.2.1.min.js"></script>-->

</head>


<h1>OTA Server Management</h1>

<div>
  <label>Upload APK to server</label><br>
  <input type="file" id="myfile" value="Choose a file"/><br>
  <button id="upload_apk">Upload APK</button><br>

</div>

<div id="loading" class="loader"></div>